{% extends './base.html.twig' %}

{% block title %}Hello!{% endblock %}
    {% block banner %}
        <div id="banner">
            <h2> {{ info.nomEntreprise }} </h2>
            <a href={{ path('addTuteur' , { 'idEntreprise' : info.id , 'id' : id}) }}>
                <button class="button big icon fa-check-circle"> Ajouter un tuteur</button>
            </a>
        </div>
    {% endblock %}
{% block body %}
    <div id="main-wrapper">
        <div class="wrapper style2">
            <div class="inner">
                <!-- Feature 2 -->
                <section class="container box feature1">
                    <div class="row">
                        <div class="8 12u(mobile)">
                            <iframe
                                    width="700"
                                    height="450"
                                    frameborder="0" style="border:0"
                                    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCsUXkMZMOQ0HOtBLNS2NCu2g-MPrVw-vU
                                      &origin={{ adresseCapucins }}
                                        &destination={{ adresseEntreprise }}
                                &avoid=tolls&mode=driving">
                            </iframe>
                        </div>
                        <div class="4 12u(mobile)">
                            <h3>
                                {{ info.nomEntreprise }} <br> {{ info.adresse }} <br> {{ info.codePostale }}
                                , {{ info.ville }} <br> {{ info.activite }} <br> {{ info.tel }}

                            </h3>

                        </div>

                    </div>
                </section>


            </div>
        </div>
    </div>

{% endblock %}
